.comment-container {
  display: flex;
  margin: 20px 0;
  gap: 15px;
  img {
    width: 6%;
    height: 6%;
    border-radius: 50%;
  }
  .info {
    div {
      span {
        font-size: 12px;
      }
      .ch-name {
        color: white;
        margin-right: 5px;
      }
    }
    .text {
      color: white;
    }
  }
}
