@import "../../index.scss";

.video-container {
  margin-bottom: 1rem;
  padding: 0.7rem;
  cursor: pointer;
  font-size: 0.9rem;
  .top {
    position: relative;
    
    .lazy-load-image-background {
      width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 15px;
    }

    .duration {
      position: absolute;
      bottom: 0.3rem;
      right: 0.3rem;
      background-color: #080808ec;
      padding: 0.1rem 0.3rem;
      font-size: 0.7rem;
      border-radius: 5px;
    }
  }

  .bottom {
    display: flex;
    flex-direction: row;
    margin-top: 10px;

    .channel-logo {
      margin-right: 10px;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }

    .right {
      .title {
        color: white;
        // line-height: 0px;
        // @include line-clamp(1);
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      .channelname {
        margin-top: 5px;
      }
      .bottom-most {
        display: flex;
        flex-direction: row;
        // justify-content: center;
        align-items: center;

        span {
          margin-right: 0.25rem;
        }
      }
    }
  }
}
