@import "../../index.scss";

.categories-bar{
        position: sticky;
        top: -1px;
        z-index: 100;
        padding: 0.5rem 0;
        font-size: 1rem;
        display: flex;
        overflow-x: scroll;
        // align-items: center;
        color: white;
        background-color: $background-primary;
        &::-webkit-scrollbar{
            width: 0px;
            display: none;
        }


    span{
        margin: 1px 5px;
        padding: 7px;
        white-space: nowrap;
        border: 1.5px solid $text-color;
        border-radius: 999px;
        cursor: pointer;
        &:hover{
            background-color: #373c45;
        }

        &.active-cat{
            color: white;
            background-color: #65676b;
        }
    }

}