@import "./index.scss";

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.app-container {
  display: flex;
  position: absolute;
  width: 100vw;
  top: 10vh;
  // overflow-y: auto;
}

// @media (max-width:$breakpoint-medium){
//     .main-container{
//         width: 90%;
//     }
// }

// @media (max-width:$breakpoint-small){
//     .main-container{
//         width: 100%;
//     }
// }
